fastapi==0.119.0
uvicorn==0.38.0
python-dotenv==1.1.1
gitpython==3.1.45
qdrant-client==1.15.1
llama-index-core==0.14.5
llama-index-readers-file==0.5.4
llama-index-vector-stores-qdrant==0.8.6
llama-index-llms-openai==0.6.5
llama-index-embeddings-openai==0.5.1
openai==1.109.1
pydantic==2.12.3
